/*globals*/
main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  color: white;
  max-width: 960px;
  width: 100%;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

button {
  border: none;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
/*intro*/
.intro {
  position: relative;
  display: block;
}
.intro img {
  display: block;
  max-width: 960px;
  width: 100%;
}
.intro h1 {
  position: absolute;
  top: 48px;
  left: 353.92px;
  margin: 0;
  font-size: 50px;
}
.intro p {
  position: absolute;
  padding: 16px;
  top: 300px;
  left: 50px;
  width: 320px;
  background-color: rgba(80, 122, 212, 0.452);
  border-radius: 5px;
}

/*sobremi*/
.about {
  padding: 40px;
  background-color: #7299fe;
}
.about h2 {
  color: rgb(10, 10, 117);
}
.about p {
  font-size: 14px;
  line-height: 24px;
  font-weight: initial;
}
.about button {
  margin: 20px 0px 35px 0px;
  padding: 19px 58px;
  border-radius: 20px;
  background-color: lightcoral;
  box-shadow: 0px 1px 10px rgb(83, 82, 82);
}

/*misskills*/
.skills {
  background-color: #9122ff;
  padding: 40px 50px;
}
.skills h2 {
  color: #26cc4b;
}
.skills h4 {
  font-weight: initial;
}
.skills .bluerectangle {
  width: 50%;
  height: 20px;
  background-color: #57eff9;
  border-radius: 10px;
}
.skills .whiterectangle {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 10px;
}
.skills .wrapper > div {
  width: 44%;
  padding: 5px 20px;
  display: inline-block;
}

/*miportafolio*/
.portfolio {
  background-color: #ffd233;
  padding: 40px 170px 90px;
}
.portfolio h2 {
  color: #00ad84;
}
.portfoliowrapper > figure {
  display: inline-block;
  padding: 6px 12px;
  width: 20%;
}

/*clientes*/
.clients {
  background-color: #3f4e62;
  padding: 40px 70px 90px;
}
.clients h2 {
  color: #adff28;
}
.clientswrapper > figure {
  display: inline-block;
  padding: 5px;
}
.clientswrapper figure:nth-child(3) {
  vertical-align: super;
}

/*contacto*/
.contact {
  background-color: #1687a0;
  padding: 40px 100px 90px;
}
.contact h2 {
  color: #ff1b1b;
}
.contactwrapper input {
  margin: 7px 14px;
  padding: 20px;
  width: 40%;
}
textarea {
  margin: 10px auto;
  padding: 20px;
  width: 91%;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
button {
  margin: 0 auto;
  padding: 17px 50px;
  display: block;
  background-color: #233451;
}
