main{
  max-width: 960px;
  width: 100%;
  margin: auto;
}

html{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  
}
/*intro*/
.intro{
 position: relative;
  display: block;
}
.intro img{
  display: block;
}
.intro h1{
  position: absolute;
  top: 48px;
  left: 353.92px;
  margin: 0;
  color: white;
  font-size: 50px;
  
}
.intro h2{
  position: absolute;
  font-size: 25px;
  color: white;
  padding: 16px;
  top: 300px;
  left: 50px;
  width: 320px;
  background-color: rgba(80, 122, 212, 0.452);
  border-radius: 5px;
}
/*sobremi*/
.about{
  background-color: #7299FE;
  padding: 40px;
  color: white;
}
.about h2{
  text-align: center;
  padding: 0px 0px 20px 0px;
  font-size: 36px;
  color: rgb(10, 10, 117);
}
.about p{
  font-size: 14px;
  line-height: 24px;
  font-weight: initial;
  
}
.about button{
  margin: 20px 0px 35px 0px;
  padding: 19px 58px;
  border-radius: 20px;
  background-color: lightcoral;
  color: inherit;
  font-size: 22px;
  font-weight: inherit;
  border: none;
  box-shadow: 0px 1px 10px rgb(83, 82, 82);
}
/*myskills*/
.skills{
  background-color: #9122FF;
  padding: 40px 50px;
  color: white;

}
.skills h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color:#26CC4B;


}
.skills h4{
  font-weight: initial;
  
}
.skills .bluerectangle{
  width: 50%;
  height: 20px;
  background-color: #57EFF9;
  border-radius: 10px;
}
.skills .whiterectangle{
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.skills .wrapper > div{
  width: 44%;
  display: inline-block;
  padding: 5px 20px;

  
  

}
/*myportfolio*/

.portfolio{
  background-color: #FFD233;
  padding: 40px 170px 90px;
}
.portfolio h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;  
  color:#00AD84;
}

.portfoliowrapper > figure{
  display: inline-block;
  padding: 6px 12px;
  width: 20%;
}
/*clientes*/

.clients{
  background-color:#3F4E62;
  padding: 40px 70px 90px;
}
.clients h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;  
  color:#ADFF28;

}

.clientswrapper > figure{
  display: inline-block;
  padding: 6px;
}
.clientswrapper figure:nth-child(3){
  vertical-align: super;
}
